/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --backgrount-color: #2F303A;
  --main-background-color: #Ffffff;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --portfolio-nav: #F5F4FA;
  --border-nav: #ECECEC;
  --border-work: #EEEEEE;
  --social-icon: #AFB1B8;
  --overlay: rgba(33, 150, 243, 0.9);
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop: rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  z-index: 100;
  transition: opacity var(--anim), visibility var(--anim);
}

.input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: border-color var(--accent-color);
}

.mob-menu {
  position: fixed;
  left: 0;
  top: 0;
  padding: 48px 40px;
  height: 100vh;
  width: 100%;
  transform: translate(100%);
  z-index: 100;
  background-color: var(--primary-white-color);
  transition: transform var(--anim);
}
.mob-menu.is-open {
  transform: translate(0);
}

.mob-menu__btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 15px;
  padding: 11px;
  background-color: var(--primary-white-color);
  border: none;
}
.mob-menu__btn__icon {
  transition: fill var(--anim);
}
.mob-menu__btn:focus .mob-menu__icon, .mob-menu__btn:hover .mob-menu__icon {
  fill: var(--accent-color);
}

.mob-nav {
  margin-bottom: 306px;
}
.mob-nav__item:not(:last-child) {
  margin-bottom: 30px;
}
.mob-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--anim);
}
.mob-nav__link--current {
  color: var(--accent-color);
}
.mob-nav__link:focus {
  color: var(--accent-color);
}

.mob-auth {
  margin-bottom: 64px;
}
.mob-auth__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-auth__link {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--anim);
}
.mob-auth__link:focus {
  color: var(--accent-color);
}
.mob-auth__link--accent {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}

.mob-social {
  display: flex;
  gap: 10px;
}
.mob-social__link {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transition: font-size var(--anim);
}
.mob-social__link:focus {
  font-size: 35px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  padding: 9px 10px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color var(--anim);
}
.modal-btn__icon {
  transition: fill var(--anim);
}
.modal-btn:focus .modal-btn__icon, .modal-btn:hover .modal-btn__icon {
  fill: var(--accent-color);
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}
.form__label {
  display: block;
  padding-bottom: 4px;
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.16;
}
.form__wrapper {
  position: relative;
}
.form__icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);
  width: 18px;
  height: 18px;
}

.form__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 11px 45px;
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.coment {
  display: block;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.coment__input {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color var(--anim);
}
.coment__input:focus {
  border-color: var(--accent-color);
}
.coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .check {
    font-size: 12px;
    line-height: 1.17;
  }
}
.check__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  transition: border var(--anim);
}
.check__icon {
  opacity: 0;
  transition: opacity var(--anim);
}
.check__input {
  position: absolute;
  top: 0;
  left: 0;
}
.check__input:checked + .check__wrapper {
  border: none;
}
.check__input:checked + .check__wrapper .check__icon {
  opacity: 1;
}
.check__link {
  line-height: 1.7;
  text-decoration: underline;
  color: var(--accent-color);
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow var(--anim);
}
.submit-btn:hover, .submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  color: var(--primary-black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  transition: color var(--anim);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}
.logo--accent {
  color: var(--accent-color);
}
.logo--white {
  color: var(--primary-white-color);
}
.logo--big {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 93px;
}
@media screen and (max-width: 767px) {
  .logo--big {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo--big {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
    line-height: 1.2;
  }
}
.logo--small {
  margin-bottom: 20px;
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.pages-header {
  border-bottom: 1px solid var(--border-nav);
}

.nav {
  display: flex;
}

.main-nav {
  display: flex;
}

.burger-wrapper {
  margin-left: auto;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .burger-wrapper {
    display: none;
  }
}

.burger {
  padding: 12px 8px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: var(--main-background-color);
  transition: transform var(--anim), background-color var(--anim);
}
.burger__text {
  position: relative;
  display: block;
  font-size: 1px;
  height: 2.67px;
  background-color: var(--primary-black-color);
}
.burger__text::before {
  content: " ";
  position: absolute;
  top: 6.5px;
  left: 0;
  width: 24px;
  height: 2.67px;
  background-color: var(--primary-black-color);
}
.burger__text::after {
  content: " ";
  position: absolute;
  bottom: 6.5px;
  left: 0;
  width: 24px;
  height: 2.67px;
  background-color: var(--primary-black-color);
}
.burger:hover, .burger:focus {
  transform: rotate(180deg);
  background-color: var(--accent-color);
}

.site-nav {
  display: flex;
}
.site-nav__items:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--anim);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity var(--anim);
}

.site-nav__link--current::after,
.site-nav__link:hover::after,
.site-nav__link:focus::after {
  opacity: 1;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    flex-direction: column;
    justify-content: center;
  }
}
.auth-nav__items:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .auth-nav__items:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.auth-nav__link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color var(--anim);
}
@media screen and (min-width: 1200px) {
  .auth-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}
.auth-nav__icon {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .site-nav,
.auth-nav {
    display: none;
  }
}

.hero-box {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--backgrount-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero-box {
    max-width: 1600;
    height: 600px;
  }
}

.hero {
  max-width: 360px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 695px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  padding: 10px 24px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: color var(--anim);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}
.hero__button:hover, .hero__button:focus {
  color: var(--primary-black-color);
}

@media screen and (min-width: 767px) {
  .features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.features__description {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__description {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__description {
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.features-box {
  max-width: 450px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--portfolio-nav);
}
@media screen and (min-width: 768px) {
  .features-box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-box {
    width: 270px;
  }
}
.features-box__icon {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.services {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.services__items {
  flex-basis: calc((100% - 100px) / 3);
}

.services-wrapper {
  position: relative;
}
.services-wrapper__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.teem {
  background-color: var(--portfolio-nav);
}

.team-list {
  font-size: 16px;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.team-list__items {
  display: block;
  margin-bottom: 24px;
  background-color: var(--main-background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list__items {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__items {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team-list__photo {
  margin-bottom: 30px;
}
.team-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list__text {
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  margin-bottom: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--social-icon);
  transition: color var(--anim), bacgrount-color var(--anim);
}
@media screen and (min-width: 1200px) {
  .social__link {
    margin-bottom: 30px;
  }
}
.social__link:hover, .social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
}

.clients-items {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-items {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-items {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients-items__link {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  color: var(--social-icon);
  transition: color var(--anim), border-color var(--anim);
}
.clients-items__link:hover, .clients-items__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-items__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.work-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.work-nav__items:not(:last-child) {
  margin-right: 8px;
}
.work-nav__button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--portfolio-nav);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0;
  border-radius: 4px;
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
}
.work-nav__button:hover, .work-nav__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work__items {
  flex-basis: calc((100% - 60px) / 3);
}
.work__link {
  display: block;
  transition: box-shadow var(--anim);
}
.work__link:hover, .work__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  position: relative;
  overflow: hidden;
}
.card__photo {
  max-width: 100%;
}
.card__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  transform: translateY(102%);
  /* opacity: 0; */
  transition: transform var(--anim);
}
.card__text {
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-white-color);
}

.work__link:hover .card__overlay,
.work__link:focus .card__overlay {
  transform: translateY(0);
}

.work-box {
  border-bottom: 1px solid var(--border-work);
  border-left: 1px solid var(--border-work);
  border-right: 1px solid var(--border-work);
  padding-top: 20px;
  padding-bottom: 20px;
}
.work-box__text {
  display: block;
  margin-left: 24px;
  margin-right: 24px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
.work-box__title {
  display: block;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--backgrount-color);
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}
.address-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 231px;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .address-box {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .address-box {
    align-items: flex-start;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: start;
  }
}
.address__items:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color var(--anim);
}
.address__link--street {
  color: var(--primary-white-color);
}
.address__link--email {
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.join {
  margin-bottom: 60px;
}
@media screen and (min-width: 1199px) {
  .join {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (max-width: 1199px) {
  .footer-title {
    text-align: center;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-social__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--anim);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}
.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .tabl {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-wrapper {
    align-items: flex-start;
  }
}

.subscribe-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscribe-box {
    flex-direction: row;
    align-items: flex-start;
  }
}

.subscribe__input {
  display: block;
  width: 450px;
  padding: 15px 16px;
  margin-right: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  color: var(--primary-white-color);
  border-color: rgba(255, 255, 255, 0.3);
  transition: border-color var(--anim);
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.subscribe__input:focus {
  border-color: var(--accent-color);
}
.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__btn {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  transition: box-shadow var(--anim);
  cursor: pointer;
}
.subscribe__btn:hover, .subscribe__btn:focus {
  box-shadow: 0px 4px 4px rgba(109, 109, 109, 0.2);
}/*# sourceMappingURL=main.css.map */