.mob-menu {
    position: fixed;
    left: 0;
    top: 0;

    padding: 48px 40px;
    height: 100vh;
    width: 100%;
    transform: translate(100%);
    
    background-color: var(--primary-white-color);
    transition: transform var(--anim);

    &.is-open {
        transform: translate(0);
    }
}

.mob-menu__btn {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;

    margin-top: 10px;
    margin-right: 15px;
    padding: 11px;

    background-color: var(--primary-white-color);
    border: none;

    &__icon {
        transition: fill var(--anim);
    }

    &:focus,
    &:hover {
        .mob-menu__icon {
            fill: var(--accent-color);
        }
    }
}
.menu-body{
    position: fixed;
    z-index: 100;
}
.mob-nav {
    margin-bottom: 306px;

    &__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__link {
        display: block;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;

        color: var(--title-text-color);

        transition: color var(--anim);

        &--current {
            color: var(--accent-color);
        }

        &:focus {
            color: var(--accent-color);
        }
    }
}

.mob-auth {
    margin-bottom: 64px;

    &__item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__link {
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        transition: color var(--anim);

        &:focus{
            color: var(--accent-color);
        }


        &--accent {
            font-size: 34px;
            line-height: 1.18;
            color: var(--accent-color);
        }
    }
}

.mob-social{
    display: flex;
    gap: 10px;

    &__item{
        &:not(:last-child){
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    }

    &__link{
        padding-right: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--accent-color);

        transition: font-size var(--anim);

        &:focus{
            font-size: 35px;
        }
    }
}